

.banner-logo-team {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  position: relative;
}

.logo-team {
  max-width: 100px;
  position: absolute;
  bottom: 0;
  left: 25%;
}


.banner-team {
  background-size: cover;
  margin-top: 0px;
  max-height: 600px;
}

.team-info {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
}
