.games-title {
  border-bottom: 1px solid #457257;
  margin-top: 50px;
  margin-bottom: 50px;
  h1 {
    color: #457257;
    text-align: center;
    padding-bottom: 30px;
  }
  h3 {
    color: #222F3B;
    text-align: center;
    padding-bottom: 50px;
  }
}

#row-match {
  margin-bottom: 50px;
}
