.myrequest {
  color: #457257;
  margin-top: 50px;
  border-bottom: 1px solid #457257;
}

.received-request {
  color: #457257;
  margin-top: 50px;
  border-bottom: 1px solid #457257;
}

#id-received {
  margin-bottom: 50px;
}
