<div class="bg-dark text-secondary px-4 py-5 text-center landing-page">
  <div class="py-5">
    <div class="col-lg-6 mx-auto">
      <h3 class="fs-8 mb-4 text-secondary">The best platfrom to organize mini foot matches.</h3>
    </div>
  </div>
</div>
