<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in?  %>
  <% team = Team.find_by(user: current_user) %>
  <% if team == nil %>
    <h1>Can create team</h1>
  <% else %>
    <h1>Can not create team</h1>
  <% end  %>
<% end %>
