#banner-btn-create {
  color: #FFFFFF;
  background-color: #edf0f487;
  border: 0px solid #DFEF57;
  margin-top: 310px;
  margin-left: 5px;
}

#banner-btn-find {
  color: #DFEF57;
  margin-top: 310px;
  margin-right: 5px;
}

#banner-btn-create:hover {
  color: #1212124f;
  background-color: #edf0f487;
  border: 1px solid #2e2f2d;
  margin-top: 310px;
  margin-left: 5px;
}

#banner-btn-find:hover {
  color: #a4b12f;
  margin-top: 310px;
  margin-right: 5px;
}
