#banner-btn-create {
  color: #FFFFFF;
  background: rgba(223,239,87,0.25);
  backdrop-filter: blur(5px);
}

#banner-btn-find {
  color: #DFEF57;
}

#banner-font-find {
  color: #DFEF57;
  margin-top: 310px;
  margin-right: -15px;
}

#banner-font-find::before{
  font-size: 11px;
}

#banner-btn-create:hover {
  color: #FFFFFF;
  background-color: rgba($color: #edf0f487, $alpha: 0.25);
}

#banner-btn-find:hover {
  color: white;
}
