.nav-bar {
  top: 0;
  width: 100%;
  background-color: #457257;
  z-index:1;
  opacity: 0.95;
}

.nav-li a {
  color: white;
}

.nav-li a:hover {
  color: #DFEF57;
}


.btn-ghost {
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

#sign-up {
  color: #DFEF57;
  border: 1px solid #DFEF57;
}

#log-in {
  color: #DFEF57;
  border: 1px solid #DFEF57;
}

#log-in:hover {
  background-color: #DFEF57;
  color: #457257;
}

#sign-up:hover {
  background-color: #DFEF57;
  color: #457257;
}

.nav {
  margin-left: 50px;
}
