.nav-bar {
  top: 0;
  width: 100%;
  background: linear-gradient(40deg, rgb(34,47,59), rgb(69,114,87));
  z-index:3;
  box-shadow: 0 0 50px #222f3b7a;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}
.nav-bar-blur{
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  top: 0;
  width: 100%;
  z-index:3;
  background: linear-gradient(40deg, rgba(34,47,59,0.5), rgba(69,114,87,0.25));
  backdrop-filter: blur(5px);
}

.nav-li a{
  color: white;
  text-decoration: none;
}

.nav-li a:hover{
  color: #DFEF57;
}


.btn-ghost {
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

#sign-up {
  color: #DFEF57;
  border: 1px solid #DFEF57;
}

#log-in {
  color: #DFEF57;
  border: 1px solid #DFEF57;
}

#log-in:hover {
  background-color: #DFEF57;
  color: #457257;
}

#sign-up:hover {
  background-color: #DFEF57;
  color: #457257;
}

.nav {
  margin-left: 50px;
}

.drop-element{
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    transition: opacity 0.3s ease;
}

.drop-list{
  border-radius: 20px;
}

.notification {
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -20px;
  padding: 5px 8px;
  border-radius: 50%;
  background-color: rgba($color: #222F3B , $alpha: 0.8);
  color: white;
}

.notification:hover .badge:hover{

  background-color: rgba($color: #DFEF57 , $alpha: 0.8);
  color: #222F3B;
}

.dropdown .username{
  color: white;
}

.dropdown .username:hover{
  color: #DFEF57;
}
