// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/teams/show_team";
@import "pages/teams/index_teams";
@import "flatpickr/dist/flatpickr";
@import "users/_index_players";
@import "pages/teams/_my_teams";
@import "pages/_my_requests";
@import "pages/_index_match";

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
.col img{
  height: 50px;
  width: 50px;
}

.logo{
  width: 120px;
  margin-left: 0px;
  padding-left: 0px;
}

.landing-page{
  background-image: url("landing.jpg");
  height: 600px;
  background-size: cover;
}

// MAPBOX

.mapboxgl-popup {
  max-width: 200px;
  max-height: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

// SIMPLE FORMS

// Containers

.form-container{
  background: linear-gradient(40deg, #222F3B, #457257);
}

.form-container-match{
  background: linear-gradient(40deg, #222F3B, #457257);
}

.form-container-request{
  background: linear-gradient(40deg, #222F3B, #457257);
}

// Logos

.form-logo{
  width: 150px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Text

.form-text{
  color: white;
  display: flex;
  justify-content: center;
}

// Forms inside containers

.forms{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.forms-match{
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.forms-request{
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// =============================================================================

.form-input{
  border-radius: 20px;
}

#user_country {
  width: 300px;
  height: 38px;
  padding: 6px 36px 6px 10px;
  color: #6C757D;
}

.log-in-sign-up {
  text-decoration: none !important;
  color: white;
  text-align: center;
}

#user_gender {
  color: #6C757D;
}

.form-input-match{
  border-radius: 15px;
}

.form-input-request{
  border-radius: 15px;
}

// =============================================================================


.form-label-match{
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.form-label-request{
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

// =============================================================================


.datepicker{
  border-radius: 15px;
}

// =============================================================================

.form-actions{
  display: flex;
  justify-content: center;
}

.form-actions-match{
  display: flex;
  justify-content: center;
}

.form-actions-text{
  color: white;
  font-size: 18px;
  margin-top: 25px;
}

.form-actions-request{
  display: flex;
  justify-content: center;
}

// =============================================================================

.submit-simple-form{
  color: #457257;
  background-color: #DFEF57;
  border: 1px solid #DFEF57;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.submit-match{
  color: #457257;
  background-color: #DFEF57;
  border: 1px solid #DFEF57;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.submit-request{
  color: #457257;
  background-color: #DFEF57;
  border: 1px solid #DFEF57;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

// =============================================================================
// Player show
// .players-filter{
//   background: linear-gradient(40deg, #457257, #222F3B);
// }
